body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-custom.top-nav-collapse {
    background: #2e6da4 none repeat scroll 0 0;
}

footer{
    background: #2e6da4 none repeat scroll 0 0;
    padding: 10px 0;
}

.content-section{
    padding-top: 100px;
}

.container p{
    font-size: 18px;
}

.intro{
    background: #000 url("../img/intro_bg_1.jpg") no-repeat scroll center / cover;
}

.typed-container{
    height: 250px;
}

.typed-hello{
    font-family: "Source Sans Pro",sans-serif;
    font-size: 70px;
    font-weight: bold;
}

.intro-text {
    height: 300px;
}

.img-me {
   width: 100%;
}


.section--aboutme{
    width: 100%;
    background: #fff none repeat scroll 0 0;
    color: #000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.section--projects{
    width: 100%;
    background: #fff none repeat scroll 0 0;
}


.section--contact {
    background-image: url("../img/word_map.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background: #fff none repeat scroll 0 0;
}


.section-title{
    color: rgba(0, 0, 0, 0.8);
}
.section-title h2{
    text-transform: none;
}

.about-block{
    font-size: 16px;
}

.about-block ul{
    padding: 0;
    margin: 0;
}

.about-block .timeline li{
    width: 100%;
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
}

.about-block h3, h4{
    color: rgba(0, 0, 0, 0.8);
    text-transform: none;
}

.about-block h4{
    margin-bottom: 5px;
}


.about-block .year {
    padding: 0 20px 0 0;
    text-align: right;
    font-weight: bold;
}
.about-block .box-content {
    padding: 0 0 0 20px;
    border-left: 2px solid #ddd;
}

.about-block ul.skills{
    padding-left: 50px;
}


.btn-default:hover, .btn-default:focus {
    background-color: #00cdff;
    border: 1px solid #00cdff;
    color: #000;
    outline: 0 none;
}
ul.social-buttons li a {
    background-color: #fff;
    border-radius: 100%;
    color: #000;
    display: block;
    font-size: 40px;
    height: 40px;
    line-height: 40px;
    outline: 0 none;
    transition: all 0.3s ease 0s;
    width: 40px;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #fff;
    color: #000;
}

.bg-grey {
    background: #f7f7f7 none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.bg-white {
    background: #fff none repeat scroll 0 0;
}



.p-t-50{
    padding-top: 50px;
}

.p-b-50{
    padding-bottom: 50px;
}

.cv_pdf{
    font-style: italic;
}

.m-t-sm{
    margin-top: 10px;
}

