body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.content-section{
    padding-top: 100px;
}

.intro{
    background: #000 url("../img/intro_bg_1.jpg") no-repeat scroll center / cover;
}

.typed-container{
    height: 250px;
}

.typed-hello{
    font-family: "Source Sans Pro",sans-serif;
    font-size: 70px;
    font-weight: bold;
}

.intro-text {
    height: 300px;
}

.img-me {
   width: 90%;
    height:90%;
}


.section--aboutme{
    width: 100%;
    background: #fff none repeat scroll 0 0;
    color: #000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.section--projects{
    width: 100%;
    background: #fff none repeat scroll 0 0;
}


.section-title{
    color: rgba(0, 0, 0, 0.8);
}
.section-title h2{
    text-transform: none;
}