<!-- About Section -->
<section id="aboutme" class="section--aboutme">
    <div class="container content-section">

        <div class="section-title text-center">
            <h2>About me</h2>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 ">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <img class="img-me" src="{{site.me-img}}">
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <p>Hi, my name is Dung Tao. I'm a software developer with 4+ years of professional experience, based in HCMC Vietnam.
                        I develop modern, highly interactive, responsive websites & web apps with cutting-edge technologies.
                        I love learning new things, making new friends, driving a car and playing tennis.
                        Let's get to know each other, drop me a line: <a title="email" href="mailto:taomanhdung@gmail.com?Subject=Hello%20Tao" target="_blank">taomanhdung@gmail.com</a> or via Skype: taomanhdungit</p>
                    </div>
                </div>
            </div>


        </div>
    </div>

</section>