<!-- Contact Section -->
<section id="contact" class="section--contact">
    <div class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Drop me an email if you are interested in me coding for you or saving your neighborhood!</p>
                <a href="mailto:taomanhdung@gmail.com" class="btn btn-primary">Send me mail</a>
                <p class="m-t-sm">
                    Or follow us on social platform
                </p>

                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li><a title="{{network.title}}" href="{{ network.url }}" class="fa fa-{{ network.title }} fa-fw" target="_blank"></a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</section>