<!-- jQuery -->
<script src="vendor/jquery/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- typed JavaScript -->
{% if site.dynamic-typing and page.section-type == "index" %}
<script type="text/javascript" src="js/typed.min.js"></script>
<script>
    var myQuotes = new Array();
    {% for line in site.lines %}
         myQuotes.push("{{ line.text }}")
    {% endfor %}

    $(".intro-text").typed({
       strings: myQuotes,
        typeSpeed: {{ site.type-speed }},
        backDelay: {{ site.delete-delay }},
        startDelay: {{ site.start-delay }},
        loop: {{ site.loop }},
        loopCount: {{ site.loop-count }},
        cursorChar: "|"
    });
</script>
{% endif %}


<script src="plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<script src="js/plugins/cube-portfolio/cube-portfolio-lightbox.js"></script>


<script>

    // jQuery to collapse the navbar on scroll
    function collapseNavbar() {
        if ($(".navbar").offset().top > 50) {
            $(".navbar-fixed-top").addClass("top-nav-collapse");
        } else {
            $(".navbar-fixed-top").removeClass("top-nav-collapse");
        }
    }

    $(window).scroll(collapseNavbar);
    $(document).ready(collapseNavbar);

    // jQuery for page scrolling feature - requires jQuery Easing plugin
    $(function() {
        $('a.page-scroll').bind('click', function(event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top
            }, 1500, 'easeInOutExpo');
            event.preventDefault();
        });
    });

    // Closes the Responsive Menu on Menu Item Click
    $('.navbar-collapse ul li a').click(function() {
        $(this).closest('.collapse').collapse('toggle');
    });
</script>